<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\Anxhhel\Downloads\martin\martin\wwwroot\Css\blog_main (1).css"> 

</head>
<body>

    <header class="header navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">KAMMAF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="Rezervim.html">Book a Table</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="blog_main.html">Blog</a></li>
                </ul>
            </div>
        </div>
    </header>
   
    <main class="container my-5">
        <div class="row">
            
            <div class="col-md-6 blog-cover">
                <h1 class="blog-title">BLOG</h1>
                <img src="C:\Users\User\Desktop\projekt web full\wwwroot\Images\images\f_main.jpg"  class="img-fluid rounded">
            </div>

            
            <div class="col-md-6 blog-content">
                <h2 class="section-title">BEHIND THE SCENES & LATEST NEWS</h2>

            
                    <a href="blogindex.html" class="blog-post">
                        <img src="C:\Users\User\Desktop\projekt web full\wwwroot\Images\images\salmon.jpg" alt="Post Image">
                        <div class="post-text">
                            <p class="post-date">24TH AUG 2023</p>
                            <h3 class="post-title">HOW QITCHEN REDEFINES FLAVOR HARMONY IN EVERY BITE</h3>
                            <p class="post-description">Experience an orchestra of tastes at Qitchen's sushi, unveiling a symphony of perfectly balanced flavors.</p>
                        </div>
                    </a>
                
                   
                    <a href="https://medium.com/@arbormove/unveiling-the-artistry-of-local-chefs-culinary-creativity-at-its-finest-54c30ae219c7" class="blog-post">
                        <img src="C:\Users\User\Desktop\projekt web full\wwwroot\Images\f1.jpg" alt="Post Image">
                        <div class="post-text">
                            <p class="post-date">24TH AUG 2023</p>
                            <h3 class="post-title">UNVEILING THE MASTERY BEHIND OUR CULINARY CRAFTSMANSHIP</h3>
                            <p class="post-description">Explore the meticulous artistry and dedication that create Qitchen's renowned sushi perfection.</p>
                        </div>
                    </a>
                
                   
                    <a href="https://sasabunebeverlyhills.com/blog/the-art-of-omakase-a-journey-through-chef-s-choice-sushi?srsltid=AfmBOordCYbveedMcUXWQOMTXS-5h6iuQf-tIuKZTCSI7umbpBckh6pI" class="blog-post">
                        <img src="C:\Users\User\Desktop\projekt web full\wwwroot\Images\f2.jpg" alt="Post Image">
                        <div class="post-text">
                            <p class="post-date">24TH AUG 2023</p>
                            <h3 class="post-title">JOURNEY THROUGH FRESHNESS EXQUISITE SUSHI SELECTION</h3>
                            <p class="post-description">Embark on a seafood adventure, guided by Qitchen's fresh and exquisite sushi creations from the sea.</p>
                        </div>
                    </a>
                     
                     <a href="https://winediplomats.com/sushi/" class="blog-post">
                        <img src="C:\Users\User\Desktop\projekt web full\wwwroot\Images\f3.jpg" alt="Post Image">
                        <div class="post-text">
                            <p class="post-date">24TH AUG 2023</p>
                            <h3 class="post-title">PALATE WITH QITCHEN'S UNSURPASSED SUSHI DELICACIES</h3>
                        <p class="post-description">Discover the heights of gastronomic delight as Qitchen's sushi transports you to a new culinary realm.</p>
                        </div>
                    </a>
                    
                        

            </div> 
        </div> 
    </main> 
    <footer class="text-center py-3 border-top border-secondary mt-5">
        <p class="text-secondary fs-6 mb-0">By Frenki Zelo</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
