@model IEnumerable<SushiRestaurant.Models.MenuItem>

<h1>Our Menu</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
